<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sree.finance"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".IncomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.sree.finance.IncomeActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity
            android:name=".ExpenseActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.sree.finance.ExpenseActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
          <activity
            android:name=".ReportActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.sree.finance.ReportActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
          <activity
            android:name=".AddIncomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.sree.finance.AddIncomeActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
          <activity
            android:name=".AddExpenseActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.sree.finance.AddExpenseActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
